<mat-sidenav-container fullscreen>

  <mat-sidenav #sidenav>

    <mat-nav-list (click)="sidenav.close()" class="nav-list">

      <app-side-nav-item link="/" icon="home" title="Home"></app-side-nav-item>


      <app-side-nav-item link="/main/teams" icon="groups" title="Teams"
        *ngIf="auth.isLoggedIn$ | async"></app-side-nav-item>

      <button mat-raised-button color="primary" class="action-button" routerLink="/main/teams"
        *ngIf="auth.isLoggedOut$ | async">
        <mat-icon>login</mat-icon>
        Login
      </button>

      <button mat-raised-button color="primary" class="action-button" (click)="auth.logout()"
        *ngIf="auth.isLoggedIn$ | async">
        <mat-icon>logout</mat-icon>
        Logout
      </button>


      <button mat-raised-button color="primary" class="action-button"
        (click)="throwMessage({message:'Sucess Message!',action:'OK',status:'success'})">
        <mat-icon>message</mat-icon>
        Sucess Message
      </button>

      <button mat-raised-button color="primary" class="action-button"
        (click)="throwMessage({message:'Warn Message!',action:'OK',status:'warn'})">
        <mat-icon>message</mat-icon>
        Warning Message
      </button>

      <button mat-raised-button color="primary" class="action-button"
        (click)="throwMessage({message:'Error Message!',action:'OK',status:'fail'})">
        <mat-icon>message</mat-icon>
        Error Messages
      </button>





    </mat-nav-list>

  </mat-sidenav>

  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.open()">
      <mat-icon>menu</mat-icon>
    </button>

    Teams
  </mat-toolbar>

  <ng-content select="[body]"></ng-content>


</mat-sidenav-container>