<mat-sidenav-container fullscreen>

  <mat-sidenav #sidenav>

    <mat-nav-list (click)="sidenav.close()">

      <app-side-nav-item link="about" icon="question_answer" title="About"></app-side-nav-item>

      <app-side-nav-item link="/main" icon="login" title="Login" *ngIf="auth.isLoggedOut$ | async"></app-side-nav-item>

      <app-side-nav-item link="" icon="logout" title="Logout" *ngIf="auth.isLoggedIn$ | async"
        (click)="auth.logout()"></app-side-nav-item>

    </mat-nav-list>

  </mat-sidenav>

  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.open()">
      <mat-icon>menu</mat-icon>
    </button>

    Teams
  </mat-toolbar>

  <ng-content select="[body]"></ng-content>


</mat-sidenav-container>