mat-toolbar a {
  color: white;
}
mat-sidenav{
width: 230px;
}

.nav-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.action-button{
  margin-top: 20px;
}
